﻿@model UserTicketModel
<div>
    Event name
</div>
<div>
    @Model.Ticket.Event.Name
</div>
<div>
    Price ticket
</div>
<div>
    @Model.Ticket.Price
</div>
<div>
    Description reject
</div>
<div>
    <form asp-controller="Tickets" asp-action="RejectTicketPost" Method="post">
        <input type="text" asp-for="Discription" Value=""/>
        <input type="hidden" asp-for="TicketId" Value="@Model.Ticket.Id"/>
        <input type="submit" Value=@Localizer["Reject"] />
    </form>
</div>