﻿@model  UserTicketModel
@{
    <title>@User.Identity.Name tickets</title>
}

<div class="userTickets">
    <div class="userTickets">
        <div class="info-about-userTicektTable">
            @Localizer["Table selling tickets"]
        </div>
        <table class="userTickets-table">
            <tr class="userTickets-table-header">
                <td>
                    @Localizer["Event name"]
                </td>
                <td>
                    @Localizer["Event date"]
                </td>
                <td>
                    @Localizer["Ticket cost"]
                </td>
            </tr>
            @foreach (Ticket ticket in Model.ListTickets)
            {
                if (ticket.Status.Equals("Selling"))
                {
                    <tr class="userTickets-table-item">
                        <td>
                            @ticket.Event.Name
                        </td>
                        <td>
                            @ticket.Event.Date
                        </td>
                        <td>
                            @ticket.Price
                        </td>
                    </tr>
                }
            }
        </table>
        <br />
        <div class="info-about-userTicektTable">
            @Localizer["Table waiting confirmation tickets"]
        </div>
        <table class="userTickets-table">
            <tr class="userTickets-table-header">
                <td>
                    @Localizer["Event name"]
                </td>
                <td>
                    @Localizer["Event date"]
                </td>
                <td>
                    @Localizer["Ticket cost"]
                </td>
                <td>
                    @Localizer["Name buyer"]
                </td>
            </tr>
            @foreach (Ticket ticket in Model.ListTickets)
            {
                if (ticket.Status.Equals("Waiting Confirmation"))
                {
                    <tr class="userTickets-table-item">
                        <td>
                            @ticket.Event.Name
                        </td>
                        <td>
                            @ticket.Event.Date
                        </td>
                        <td>
                            @ticket.Price
                        </td>
                        <td>
                            @ticket.Order.NameBuyer
                        </td>
                        <td>
                            <a asp-controller="Tickets" asp-action="AcceptTicket" asp-route-id="@ticket.Id">@Localizer["Accept"] </a>
                        </td>
                        <td>
                            <a asp-controller="Tickets" asp-action="RejectTicket" asp-route-id="@ticket.Id">@Localizer["Reject"]</a>
                        </td>
                    </tr>
                }
            }
        </table>
        <br />
        <div class="info-about-userTicektTable">
            @Localizer["Table sold tickets"]
        </div>
        <table class="userTickets-table">
            <tr class="userTickets-table-header">
                <td>
                    @Localizer["Event name"]
                </td>
                <td>
                    @Localizer["Event date"]
                </td>
                <td>
                    @Localizer["Ticket cost"]
                </td>
            </tr>
            @foreach (Ticket ticket in Model.ListTickets)
            {
                if (ticket.Status.Equals("Sold"))
                {
                    <tr class="userTickets-table-item">
                        <td>
                            @ticket.Event.Name
                        </td>
                        <td>
                            @ticket.Event.Date
                        </td>
                        <td>
                            @ticket.Price
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
