﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="~/CSS/site.css" />
</head>

<body>
<div class="wrapper">
    <ul class="navbar">
        <li class="navbar-left">
            <a asp-controller="Events" asp-action="Events" asp-route-culture="@Url.ActionContext.HttpContext.Session.GetString("culture")">@Localizer["Events"]</a>
        </li>
        @if (User.Identity.IsAuthenticated)
        {
            <li class="navbar-right">
                <a>@Localizer["Hello"] @User.Identity.Name</a>
                <a asp-controller="Login" asp-action="LoginOut" asp-route-culture="@Url.ActionContext.HttpContext.Session.GetString("culture")">@Localizer["Sign out"]</a>
            </li>
            <li class="navbar-right">
                @if (User.IsInRole("admin"))
                {
                    <a asp-controller="UserManagerRole" asp-action="UsersInRole" asp-route-culture="@Url.ActionContext.HttpContext.Session.GetString("culture")">@Localizer["Users manager"]</a>
                    <a asp-controller="EventManager" asp-action="GetAllEvent" asp-route-culture="@Url.ActionContext.HttpContext.Session.GetString("culture")">@Localizer["Event manager"]</a>
                }
                <a asp-controller="UserTickets" asp-action="UserTickets" asp-route-culture="@Url.ActionContext.HttpContext.Session.GetString("culture")">@Localizer["My tickets"]</a>
                <a asp-controller="UserOrders" asp-action="UserOrders" asp-route-culture="@Url.ActionContext.HttpContext.Session.GetString("culture")">@Localizer["My orders"]</a>
                <a asp-controller="UserInfo" asp-action="UserInfo" asp-route-culture="@Url.ActionContext.HttpContext.Session.GetString("culture")">@Localizer["Profile"]</a>
            </li>
        }
        else
        {
            <li class="navbar-right">
                <a asp-controller="Login" asp-action="Registration" asp-route-culture="@Url.ActionContext.HttpContext.Session.GetString("culture")">@Localizer["Sign up"]</a>
            </li>
            <li class="navbar-right">
                <a asp-controller="Login" asp-action="Login" asp-route-culture="@Url.ActionContext.HttpContext.Session.GetString("culture")">@Localizer["Sign in"]</a>
            </li>
        }
    </ul>
</div>
<div class="content">
    @RenderBody()
</div>
<div class="footer">
    <div class="link-choose-language">
        <a class="lang-en" asp-controller="BaseLocalization" asp-action="ChooseLanguage" asp-route-culture="en">EN</a>
        <a class="lang-ru" asp-controller="BaseLocalization" asp-action="ChooseLanguage" asp-route-culture="ru">RU</a>
        <a class="lang-be" asp-controller="BaseLocalization" asp-action="ChooseLanguage" asp-route-culture="be">BY</a>
    </div>
</div>
</body>
</html>