﻿@model CityModel

<form asp-controller="City" asp-action="AddCity" Method="post">
    <div class="userinfo-box">
        <div class="userinfo-field">
            @Localizer["Name city"]:
        </div>
        <div class="userinfo-value">
            <input type="text" asp-for="Name" />
        </div>
    </div>
    <input type="submit" class="buttonAuth" Value=@Localizer["Add city"] />
</form>