﻿@model VenueModel
<div>
    <form asp-controller="Venue" asp-action="AddVenue" Method="post">
        <div class="userinfo-box">
            <div class="userinfo-field">
                @Localizer["Venue name"]:
            </div>
            <div class="userinfo-value">
                <input type="text" asp-for="Name" />
            </div>
        </div>
        <div class="userinfo-box">
            <div class="userinfo-field">
                @Localizer["Adress venue"]:
            </div>
            <div class="userinfo-value">
                <input type="text" asp-for="Adress" />
            </div>
        </div>
        <div class="userinfo-box">
            <div class="userinfo-field">
                @Localizer["City"]:
            </div>
            <div class="userinfo-value">
                <select asp-for="@Model.NameCity">
                    @foreach (City city in Model.ListCity)
                    {
                        <option>@city.Name</option>
                    }
                </select>
                <a asp-controller="City" asp-action="City">@Localizer["Add new city"]</a>
            </div>
        </div>
        <div>
            <input type="submit" class="buttonAuth" Value=@Localizer["Add venue"] />
        </div>
    </form>
</div>