﻿@model EventModel

<div>
    @if (Model.Event == null)
    {
        <form asp-controller="EventManager" asp-action="CreateEvent" enctype="multipart/form-data" Method="post">
            <div class="userinfo-box">
                <div class="userinfo-field">
                    @Localizer["Event"]:
                </div>
                <div class="userinfo-value">
                    <input type="text" asp-for="Name" Value="" />
                </div>
            </div>
            
            <div class="userinfo-box">
                <div class="userinfo-field">
                    @Localizer["Event date"]:
                </div>
                <div class="userinfo-value">
                    <input type="datetime" asp-for="Date" Value="" />
                </div>
            </div>
            
            <div class="userinfo-box">
                <div class="userinfo-field">
                    @Localizer["Name venue"]:
                </div>
                <div class="userinfo-value">
                    <select asp-for="VenueName">
                        @foreach (Venue venue in Model.ListVenue)
                        {
                            <option>@venue.Name</option>
                        }
                    </select>
                    <a asp-controller="Venue" asp-action="Venue">@Localizer["Add new venue"]</a>
                </div>
            </div>
            
            <div class="userinfo-box">
                <div class="userinfo-field">
                    @Localizer["Path image"]:
                </div>
                <div class="userinfo-value">
                    <input type="file" asp-for="Image" class="form-control" />
                </div>
            </div>
            
            <div class="userinfo-box">
                <div class="userinfo-field">
                    @Localizer["Event description"]:
                </div>
                <div class="userinfo-value">
                    <input type="text" asp-for="Description" Value="" />
                </div>
            </div>
            <div>
                <input type="submit" class="buttonAuth" Value=@Localizer["Create"] />
            </div>
        </form>
    }
    else
    {
        <form asp-controller="EventManager" asp-action="EditEventPost" enctype="multipart/form-data" Method="post">
            <div class="userinfo-box">
                <div class="userinfo-field">
                    @Localizer["Event"]:
                </div>
                <div class="userinfo-value">
                    <input type="text" asp-for="Name" Value="@Model.Event.Name" />
                </div>
            </div>

            <div class="userinfo-box">
                <div class="userinfo-field">
                    @Localizer["Event date"]:
                </div>
                <div class="userinfo-value">
                    <input type="datetime" asp-for="Date" Value="@Model.Event.Date" />
                </div>
            </div>

            <div class="userinfo-box">
                <div class="userinfo-field">
                    @Localizer["Name venue"]:
                </div>
                <div class="userinfo-value">
                    <select asp-for="VenueName">
                        @foreach (Venue venue in Model.ListVenue)
                        {
                            <option>@venue.Name</option>
                        }
                    </select>
                    <a asp-controller="Venue" asp-action="Venue">@Localizer["Add new venue"]</a>
                </div>
            </div>

            <div class="userinfo-box">
                <div class="userinfo-field">
                    @Localizer["Path image"]:
                </div>
                <div class="userinfo-value">
                    <input type="file" asp-for="Image" class="form-control" />
                </div>
            </div>

            <div class="userinfo-box">
                <div class="userinfo-field">
                    @Localizer["Event description"]:
                </div>
                <div class="userinfo-value">
                    <input type="text" asp-for="Description" Value="@Model.Event.Description" />
                </div>
            </div>
            <div>
                <input type="submit" class="buttonAuth" Value=@Localizer["Edit"] />
            </div>
        </form>
    }
</div>