﻿@model EventModel

<table>
    <tr>
        <td>
            @Localizer["Event"]
        </td>
        <td>
            @Localizer["Event date"]
        </td>
        <td>
            @Localizer["City"]
        </td>
        <td>
            @Localizer["Adress venue"]
        </td>
        <td>
            @Localizer["Name venue"]
        </td>
        <td>
            @Localizer["Image"]
        </td>
        <td>
            @Localizer["Event description"]
        </td>
    </tr>
    @foreach (Event ev in Model.ListEvents)
    {
        <tr>
            <td>
                @ev.Name
            </td>
            <td>
                @ev.Date
            </td>
            <td>
                @ev.Venue.City.Name
            </td>
            <td>
                @ev.Venue.Adress
            </td>
            <td>
                @ev.Venue.Name
            </td>
            <td>
                <div class="event-manager-row-image">
                    <img class="event-image" src="@Url.Content(ev.PathBanner)" />
                </div>
            </td>
            <td>
                @ev.Description
            </td>
            <td>
                <a asp-controller="EventManager" asp-action="EditEvent" asp-route-id="@ev.Id"> @Localizer["Edit"] </a>
                <a asp-controller="EventManager" asp-action="RemoveEvent" asp-route-id="@ev.Id"> @Localizer["Remove"] </a>
            </td>
        </tr>
    }
</table>
<a asp-controller="EventManager" asp-action="CreateEvent"><button class="buttonAuth">@Localizer["Create new event"]</button></a>