﻿@model UsersModel

@{
    <title>Sign in</title>
}

<div class="Validate">
    @Html.ValidationSummary()
</div>
<div class="MainAuth">
    <div class="Auth">
        <form asp-controller="Login" asp-action="PostLogin" Method="post" asp-route-culture="@Url.ActionContext.HttpContext.Session.GetString("culture")">
            <div class="field-label">
                @Localizer["Enter your name"]
            </div>
            <div class="field-edit">
                @Html.EditorFor(lm => lm.UserName)
            </div>
            <div class="field-label">
                @Localizer["Enter your password"]
            </div>
            <div class="field-edit">
                @Html.EditorFor(lm => lm.Password)
            </div>
        <input class="buttonAuth" type="submit" value="@Localizer["Sign in"]" />
        </form>
    </div>
</div>
