﻿@model TicketModel

@{
    <title>Accept buy tickets</title>
}
<div class="ticket-content">
    <div class="ticket-info-box">
        <div class="ticket-info-field">
            @Localizer["Event name"]
        </div>
        <div class="ticket-info-value">
            @Model.Ticket.Event.Name
        </div>
        <div class="ticket-info-field">
            @Localizer["Event description"]
        </div>
        <div class="ticket-info-value">
            @Model.Ticket.Event.Description
        </div>
    </div>
    <table class="ticket-table">
        <tr class="ticket-table-header">
            <td>
                @Localizer["Name seller"]
            </td>
            <td>
                @Localizer["Ticket cost"]
            </td>
        </tr>
        <tr class="ticket-table-value">
            <td>
                @Model.Ticket.Seller
            </td>
            <td>
                @Model.Ticket.Price
            </td>
        </tr>
    </table>
    <div class="link-bttom">
        <a asp-controller="Tickets" asp-action="BuyTicket" asp-route-id="@Model.Ticket.Id">@Localizer["Buy this ticket"]</a>
    </div>
</div>