﻿@model TicketModel

<form asp-controller="Tickets" asp-action="AddTicketPost" Method="post">
    <div class="field-edit">
        @Localizer["Cost"]:
        <input type="number" asp-for="Price" Value="" />
    </div>
    <div>
        <input type="hidden" asp-for="IdEvent" value="@Model.IdEvent" />
        <input type="submit" class="buttonAuth" Value=@Localizer["Sell ticket"]/>
    </div>
</form>