﻿@model TicketModel

@{
    <title>Tickets</title>
}
<div class="ticket-content">
    <div class="ticket-info-box">
        <div class="ticket-info-field">
            @Localizer["Event name"]
        </div>
        <div class="ticket-info-value">
            @Model.Event.Name
        </div>
        <div class="ticket-info-field">
            @Localizer["Event description"]
        </div>
        <div class="ticket-info-value">
            @Model.Event.Description
        </div>
    </div>
    <table class="ticket-table">
        <tr class="ticket-table-header">
            <td>
                @Localizer["Name seller"]
            </td>
            <td>
                @Localizer["Ticket cost"]
            </td>
        </tr>
        @foreach (Ticket ticket in Model.ListTickets)
        {
            if (!ticket.Seller.Equals(User.Identity.Name) && ticket.Status.Equals("Selling"))
            {
                <tr class="ticket-table-value">
                    <td>
                        @ticket.Seller
                    </td>
                    <td>
                        @ticket.Price
                    </td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <td>
                            <a asp-controller="Tickets" asp-action="AcceptBuyTicket" asp-route-id="@ticket.Id">@Localizer["Buy Ticket"]</a>
                        </td>
                    }
                </tr>
            }
        }
    </table>
    <div class="link-bttom">
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-controller="Tickets" asp-action="AddTicket" asp-route-id="@Model.Event.Id">@Localizer["Sell ticket"]</a>
        }
    </div>
</div>