﻿@model UserOrdersModel
@{
    <title>@User.Identity.Name orders</title>
}
<div class="userOrders">
    <table class="table-userOrders">
        <tr class="table-userOrders-header">
            <td>
                @Localizer["Event name"]
            </td>
            <td>
                @Localizer["Event date"]
            </td>
            <td>
                @Localizer["Ticket cost"]
            </td>
            <td>
                @Localizer["Status order"]
            </td>
            <td>
                @Localizer["Seller Name"]
            </td>
        </tr>
        @foreach (Order order in Model.ListOrders)
        {
            <tr class="table-userOrders-item">
                <td>
                    @order.Ticket.Event.Name
                </td>
                <td>
                    @order.Ticket.Event.Date
                </td>
                <td>
                    @order.Ticket.Price
                </td>
                <td>
                    @order.Status
                </td>
                <td>
                    @order.Ticket.Seller
                </td>
                @if (order.Description != null)
                {
                    <td>
                        @Localizer["Description"]: @order.Description
                    </td>
                }
            </tr>
        }
    </table>
</div>
