﻿@model UserInfoModel

@{
    <title>@User.Identity.Name Profile</title>
}
<div class="userinfo-container">
    <form asp-controller="UserInfo" asp-action="EditUserInfoPost" Method="post">
        <div class="userinfo-box">
            <div class="userinfo-field">
                @Localizer["Language"]:
            </div>
            <div class="userinfo-value">
                <input type="text" asp-for="Localization" Value="@Model.User.Localization" />
            </div>
        </div>
        <div class="userinfo-box">
            <div class="userinfo-field">
                @Localizer["First name"]:
            </div>
            <div class="userinfo-value">
                <input type="text" asp-for="FirstName" Value="@Model.User.FirstName" />
            </div>
        </div>
        <div class="userinfo-box">
            <div class="userinfo-field">
                @Localizer["Last name"]:
            </div>
            <div class="userinfo-value">
                <input type="text" asp-for="LastName" Value="@Model.User.LastName" />
            </div>
        </div>
        <div class="userinfo-box">
            <div class="userinfo-field">
                @Localizer["Adress"]:
            </div>
            <div class="userinfo-value">
                <input type="text" asp-for="Address" Value="@Model.User.Address" />
            </div>
        </div>
        <div class="userinfo-box">
            <div class="userinfo-field ph">
                @Localizer["Phone number"]:
            </div>
            <div class="userinfo-value">
                <input type="number" asp-for="PhoneNumber" Value="@Model.User.PhoneNumber" />
            </div>
        </div>
        <input type="submit" class="buttonAuth" Value=@Localizer["Accept"] />
    </form>
    <div>
        <a asp-controller="UserInfo" asp-action="UserInfo"><button class="buttonAuth">@Localizer["Back"]</button></a>
    </div>
</div>