﻿@model UserInfoModel

@{
    <title>@User.Identity.Name Profile</title>
}
<div class="userinfo-container">
        <div class="userinfo-box">
            <div class="userinfo-field">
                @Localizer["Language"]:
            </div>
            <div class="userinfo-value">
                @Model.User.Localization
            </div>
        </div>
        <div class="userinfo-box">
            <div class="userinfo-field">
                @Localizer["First name"]:
            </div>
            <div class="userinfo-value">
                @Model.User.FirstName
            </div>
        </div>
        <div class="userinfo-box">
            <div class="userinfo-field">
                @Localizer["Last name"]:
            </div>
            <div class="userinfo-value">
                @Model.User.LastName
            </div>
        </div>
        <div class="userinfo-box">
            <div class="userinfo-field">
                @Localizer["Adress"]:
            </div>
            <div class="userinfo-value">
                @Model.User.Address
            </div>
        </div>
    <div class="userinfo-box">
        <div class="userinfo-field">
            @Localizer["Phone number"]:
        </div>
        <div class="userinfo-value">
            @Model.User.PhoneNumber
        </div>
    </div>
    <a asp-controller="UserInfo" asp-action="EditUserInfo" asp-route-id="@Model.User.Id"><button class="buttonAuth">@Localizer["Edit profile"]</button></a>
</div>
