﻿@model EventModel

@{
    <title>Events</title>
}
<div class="event">
    @foreach (Event Event in Model.ListEvents)
    {
        <div class="content-event-image">
            <a asp-controller="Tickets" asp-action="TicketsPage" asp-route-id="@Event.Id" asp-route-culture="@Url.ActionContext.HttpContext.Session.GetString("culture")">
                <img class="event-image" src="@Url.Content(Event.PathBanner)" alt="@Event.Description" />
            </a>
        </div>
        <div class="event-info-container">
            <div class="event-info-box">
                <div class="event-info-field">
                    @Localizer["Event"]:
                </div>
                <div class="event-info-value">
                    @Event.Name
                </div>
            </div>
            <div class="event-info-box">
                <div class="event-info-field">
                    @Localizer["Event date"]:
                </div>
                <div class="event-info-value">
                    @Event.Date
                </div>
            </div>
            <div class="event-info-box">
                <div class="event-info-field">
                    @Localizer["City"]:
                </div>
                <div class="event-info-value">
                    @Event.Venue.City.Name
                </div>
            </div>
            <div class="event-info-box">
                <div class="event-info-field">
                    @Localizer["Adress venue"]:
                </div>
                <div class="event-info-value">
                    @Event.Venue.Adress
                </div>
            </div>
            <div class="event-info-box">
                <div class="event-info-field">
                    @Localizer["Name venue"]:
                </div>
                <div class="event-info-value">
                    @Event.Venue.Name
                </div>
            </div>
        </div>
    }
    <pager class="pager-container" list="@Model.ListEvents" options="@PagedListRenderOptions.TwitterBootstrapPager" asp-action="Events" asp-controller="Events" asp-route-keyword="" />
</div>