﻿@model UserInRoleModel
<div class="field-label">
    <div>
        @Model.UserAccount.UserName
    </div>
    <div>
        @Model.UserAccount.Role.NameRole
    </div>
</div>
<div class="form-role-edit">
    <form asp-controller="UserManagerRole" asp-action="ChangeRolePost" Method="post">
        <select asp-for="NewRole">
            <option>user</option>
            <option>admin</option>
        </select>
        <input type="hidden" asp-for="Id" value="@Model.UserAccount.Id"/>
        <input type="submit" value=@Localizer["Change role"]/>
    </form>
</div>
