﻿@model UserInRoleModel

@{
    <title>Tickets</title>
}
<div class="ticket-content">
    <table class="ticket-table">
        <tr class="ticket-table-header">
            <td>
                @Localizer["User name"]
            </td>
            <td>
                @Localizer["In role"]
            </td>
        </tr>
        @foreach (UserAccount user in Model.ListUserAccount)
        {
            <tr class="ticket-table-value">
                <td>
                    @user.UserName
                </td>
                <td>
                    @user.Role.NameRole
                </td>
                <td>
                    <a asp-controller="UserManagerRole" asp-action="ChangeRole" asp-route-id="@user.Id">@Localizer["Choose user"]</a>
                </td>
            </tr>
        }
    </table>
</div>
