﻿.content {
    min-height: calc(100vh - 120px);
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a9a9a9;
    width: auto;
}

.navbar-left {
    float: left;
}

    .navbar-left a {
        display: inline-block;
        color: #000000;
        text-align: center;
        padding: 14px 10px;
        text-decoration: none;
    }

.navbar-right {
    float: right;
}

    .navbar-right a {
        display: inline-block;
        color: #000000;
        text-align: center;
        padding: 14px 5px;
        text-decoration: none;
    }

li a:hover:not(#userName) {
    background-color: #111;
    color: #ffffff;
    border-radius: 10px;
}

.Validate {
    text-align: center;
    background-color: #ffffff;
    font-weight: bold;
    margin: 10px 0 0 0;
}

    .Validate ul {
        text-decoration: none;
        list-style-type: none;
        color: #ff0000;
    }

.MainAuth {
    display: flex;
    margin: 10% 0 0 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.Auth {
    padding: 20px;
    align-self: center;
    margin: auto;
    border: 5px solid black;
    border-radius: 30px;
    border-style: double;
}

.field-label {
    font-family: cursive;
    text-align: left;
    margin: 5px 0 5px 0;
}

.field-edit input {
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-color: black;
}

    .field-edit input:focus {
        background: darkgray;
        border: 2px solid black;
        border-radius: 30px;
        outline: none;
    }

.buttonAuth {
    display: inline-block;
    margin: 10px 0 0 0;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    font-family: monospace;
    background-color: white;
    border-style: double;
    border-color: black;
    outline: none;
}

    .buttonAuth:hover {
        background-color: orangered;
    }

.welcome-main-word {
    text-align: center;
    font-family: cursive;
}

.event {
    background: #ffffff;
}

.content-event-image {
    margin: 10px 0 10px 0;
    text-align: center;
}

.event-manager-row-image {
    display: inline-block;
}
.event-image {
    border: 0;
    width: 40%;
    height: 30%;
}

.event-info-container {
    overflow: hidden;
    width: 100%;
}

.event-info-box {
    white-space: nowrap;
    text-align: center;
}

    .event-info-box div {
        width: 17%;
        display: inline-block;
    }

.event-info-field {
    font-weight: bold;
}

.event-info-value {
    font-family: cursive;
}

.ticket-info-box {
    text-align: center;
    margin: 0 0 10px 0;
}

.ticket-info-field {
    font-weight: bold;
}

.ticket-info-value {
    font-family: cursive;
}

.ticket-content {
    margin: 10px 0 0 0;
}

.ticket-table {
    border: 2px solid #000000;
    text-align: center;
    width: 30%;
    margin: auto;
}

.ticket-table-header {
    font-weight: bold;
}

.ticket-table-value {
    font-family: cursive;
}

    .ticket-table-value td {
        border: 2px solid #000000;
    }

.userTickets {
    margin: 10px 0 0 0;
}

.userTickets-table {
    border: 2px solid #000000;
    text-align: center;
    margin: auto;
    border-collapse: collapse;
}

.userTickets-table-header td {
    font-weight: bold;
    border: 2px solid #000000;
}

.userTickets-table-item td {
    border-right: 2px solid #000000;
    border-left: 2px solid #000000;
}

.userTickets-table-item:hover {
    background-color: #696969;
    font-weight: bold;
}

.info-about-userTicektTable {
    font-weight: bold;
    font-family: Times new Roman;
    text-align: center;
    margin: 0 0 10px 0;
    align-content: center;
}

.userinfo-container {
    overflow: hidden;
    width: 100%;
    text-align: center;
}

.userinfo-box {
    white-space: nowrap;
}

    .userinfo-box div {
        width: 13%;
        display: inline-block;
    }

.userinfo-field {
    font-weight: bold;
    margin: 0 20px 0;
}

.userinfo-value {
    font-family: cursive;
}
.userinfo-value a {
    overflow: hidden;
    text-decoration: none;
    color: #000000;
}

.userOrders {
    margin: 10px 0 0 0;
}

.table-userOrders {
    border: 2px solid #000000;
    text-align: center;
    margin: auto;
    border-collapse: collapse;
}

.table-userOrders-header td {
    font-weight: bold;
    border: 2px solid #000000;
}

.table-userOrders-item td {
    border-right: 2px solid #000000;
    border-left: 2px solid #000000;
}

.table-userOrders-item:hover {
    background-color: #696969;
    font-weight: bold;
}

.footer {
    text-align: right;
}

.link-choose-language a {
    text-decoration: none;
    color: #000000;
}

.lang-en:hover {
    color: #dc143c;
}

.lang-ru:hover {
    color: #0000cd;
}

.lang-be:hover {
    color: #008000;
}
